name: train-my-model

on: [issue_comment]

jobs:
  train:
    if: | 
      (github.event.issue.pull_request != null) &&
      contains(github.event.comment.body, '/nvidia-smi')    
    runs-on: [cml, gpu]

    steps:
      - uses: actions/checkout@v2

      - name: test
        run: |
          nvidia-smi > report.md
          cml-send-comment report.md
